.header{
    display: flex;
    width: 100%;
    height: 67px;
    background-color: #C3CFD9;
    justify-content: center;
    align-items: center;
}

.header h1{
    font-weight: 400;
    font-size: 34px;
    color: #E8833A;
    text-transform: uppercase;
}



.container{
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h2{
    font-size: 24px;
    font-weight: 400;
    color: #293845;
    margin: 30px auto 30px auto;
}

.movies{
    width: 350px;
   /* background-color: coral;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie{
    height:209px;
    width: 149px;
    background-color: white;
    margin: 0 5px 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
   /* border: 1px solid blue;*/
}

.movie.border{
    border: 1px solid blue
}

.movie img{
    width: 129px;
    height: 193px;
    /*margin:8px 0 0 8px;*/
}




/*------------------------Sessions---*/

.container-sessions{
    min-height: 560px;
    height: auto;
}
.container .sessions{
    width: 100%;
    /*border: 2px solid red;*/
    margin-left: 0px;
    height: 200px;
    min-height: 560px;
    height: auto;
}

.session{
    width: 300px;
    height: 100px;
    /*border: 1px solid  blue;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px
}

.session button{
    width: 83px;
    height: 43px;
    border-radius: 3px;
    background-color: #E8833A;
    font-size: 18px;
}

/*.session .horarios .border{
    /*border: 3px solid red;
}*/

.session h3{
    font-weight: 400;
    font-size: 20px;
    color: #293845;
}

.movie-info{
    width: 100%;
    height: 117px;
    /*border: 1px solid yellow;*/
    display: inline-flex;
    align-items: center;
}

.movie-info span{
    margin-left: 10px;
    font-size: 26px;
}

.movie.mini{
    height: 89px;
    width: 64px;
    margin: 14px 0 14px 10px;
    
}

.movie.mini img{
    width: 48px;
    height: 72px;
}




/*-----------------Seats----------------------*/

.seats.disponibility{
    display: flex;
    justify-content: space-around;
}

.seats.disponibility p{
    font-size: 11px;
    display: inline;
    margin-top: 45px;
} 

.seats{
    width: 276px;
    height: 220px;
     background-color: coral;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.seat{
    height:26px;
    width: 26px;
    background-color: #C3CFD9;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #808F9D;
}

.seat h4{
    font-size: 11px;
}



.not-disponible{
    background-color: #FBE192;
    ;
}

.disponible{
    background-color: #C3CFD9;
    ;
}

.selected{
    background-color: #8DD7CF;
    ;
}